@import '../index.less';

.header {
  height: @headerHeight;
  line-height: @headerHeight;
  text-align: center;
  border-bottom: @menu-border-color solid 1px;
  border-right: @menu-border-color solid 1px;
}
