@import '../index.less';

.mainSider {
  color: #cbcbcd;
  background: #444444;
  height: 100%;
  // overflow-y: scroll;
  // &::-webkit-scrollbar {
  //   width: 0px;
  // }

  .logoBox {
    text-align: center;
    line-height: @menuBoxWidth;
    width: @menuBoxWidth;
    img {
      height: 35px;
      vertical-align: middle;
    }
  }

  .menuBoxLg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 55px;
    color: #cbcbcd;
    .menuIcon {
      font-size: 17px;
    }
    .menuText {
      font-size: 14px;
      font-weight: 500;
      margin-top: -6px;
    }
  }

  .menuBoxMin {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40px;
    color: #cbcbcd;
    .menuIcon {
      font-size: 15px;
      margin-left: 3px;
      vertical-align: middle;
    }

    .menuText {
      font-size: 14px;
      text-align: center;
      margin-left: -2px;
      width: 100%;
    }
  }

  .selected {
    background-color: #f8f8f8;
    color: #333333;
  }

  .noSelected {
    &:hover {
      color: white;
    }
  }
}
