
html,body, #root{
    height: 100%;
    display: flex;
    flex-direction: column;
}



header{
    background-color: black;
    color: white;
    padding: 8px 6px;
    text-align: center;
    
}


.page{
    flex: 1;
    transition: opacity 0.3s ease;
}

/* opacity=0 表示全部透明 */
.page-enter{
    opacity: 0;
}

.page-entered{
    opacity: 1;
}


.tabs{
    display: flex;
    border-top: 1px solid #cccccc;
}


.tabs-item {
    flex: 1;
    color: #8c8c8c;
    text-align:center;
    /* 不要使用height */
    line-height: 40px;
    cursor: pointer;
}


.tabsPage{
    height: 100%;
}
